/* Exercícios 1- 10*/
@media screen and (max-width: 1500px) {
  .form input,
  .form-4 input,
  .form-6 input,
  .form-11 input,
  .form-13 input,
  .estado-civil-6 {
    width: 35%;
  }

  .socio-box-6 input {
    width: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .header,
  .footer,
  .active-race {
    width: 85%;
  }

  .section-main {
    width: 85%;
  }

  .form input,
  .form-4 input,
  .form-6 input,
  .form-11 input,
  .form-13 input,
  .estado-civil-6 {
    width: 40%;
  }
  .socio-box-6 input {
    width: 30px;
  }
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 14px;
  }

  .header,
  .footer,
  .active-race {
    width: 90%;
  }

  .section-main {
    width: 85%;
  }

  .logo-box h1 {
    font-size: 26px;
  }

  .logo {
    height: 80px;
  }

  .form input,
  .form-4 input,
  .form-6 input,
  .form-11 input,
  .form-13 input,
  .estado-civil-6 {
    width: 50%;
  }

  .socio-box-6 input {
    width: 30px;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }

  .header,
  .footer,
  .active-race {
    width: 90%;
  }
  .section-main {
    width: 90%;
  }

  .logo-box {
    flex-direction: column;
  }
  .logo {
    height: 50px;
    align-self: center;
    margin-bottom: 10px;
  }
  .logo-box h1 {
    font-size: 22px;
  }

  .box-titulo h3 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }

  .form input,
  .form-4 input,
  .form-6 input,
  .form-11 input,
  .form-13 input,
  .estado-civil-6 {
    width: 65%;
    margin-bottom: 0;
  }

  .socio-box-6 input {
    width: 30px;
  }

  .form .message-error,
  .form-4 .message-error,
  .form-6 .message-error,
  .form-11 .message-error,
  .form-13 .message-error {
    margin-left: 10px;
    font-size: 13px;
  }

  .error-img {
    width: 17px;
    height: 17px;
  }

  table {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 13px;
  }

  .header,
  .footer,
  .active-race {
    width: 95%;
  }

  .section-main {
    width: 95%;
    margin: 10px auto 10px auto;
  }

  .form input,
  .form-4 input,
  .form-6 input,
  .form-11 input,
  .form-13 input,
  .estado-civil-6 {
    width: 95%;
    margin-bottom: 0px;
  }

  input {
    font-size: 12px;
  }
  input::placeholder {
    font-size: 12px;
  }

  .estado-civil-6 {
    height: 34px;
  }

  .socio-box-6 input {
    width: 30px;
    /* margin-bottom: 20px; */
  }

  .form .message-error,
  .form-4 .message-error,
  .form-6 .message-error,
  .form-11 .message-error,
  .form-13 .message-error {
    margin-left: 10px;
    font-size: 12px;
  }

  .error-img {
    width: 16px;
    height: 16px;
  }
}
